html {
    height: 100%;
    background-color: lightblue;
    background-size: 100% 100%;
    background-image: url(images/sjYntq.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

body {
    display: grid;
    grid-template: 2.5rem 2.5rem 1fr / 15rem 1fr;
    min-height: 100%;
    gap: 1rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

header {
    grid-row: 1;
    grid-column: 1/end;
    text-align: center;
    color: white;
}

nav {
    grid-row: 2;
    grid-column: 1/end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid white;
    border-radius: 10px;
}

aside {
    grid-row: 3;
    grid-column: 1;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
article {
    grid-column: 2/end;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 5rem 1fr;
    gap: 1rem 1rem;
    color: white;
}


/* Header */
header h1 {
    font-size: 50px;
    margin: 0;
}

/* Navigation */
nav p {
    margin: 0;
    font-size: 2rem;
}


nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    text-shadow: 2px 2px 8px rgb(131, 127, 127);

}


/* Aside */
aside h2 {
    text-align: center;
    margin-bottom: 5px;
}

aside h3 {
    text-align: center;
}

aside p {
    text-align: center;
}
aside hr {
    margin-top: 1px;
    width: 85%;
}

#button-hr {
    margin-top: 30px;
    width: 60%;
    margin-bottom: 0;
}

aside button {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    font-family: 'Times New Roman', serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    font-weight: bold;

}

aside button:hover {
    color: cornsilk;
    border: 1px solid cornsilk;
}
/* Article */
a {
    color: white;
}

.card {
    border: 3px solid white;
    border-radius: 15px;
    width: 50%;
    height: 100%;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 125px;

}
#Instagram {
    grid-column: 1;
}

#Instagram:hover {
    background-image: linear-gradient(to bottom right, purple, yellow);
}

#instagram {
    border-radius: 50%;
    width: 100px;
}

#Flare {
    grid-column: 2;
}

#Flare:hover {
    background-image: linear-gradient(to bottom right, orange, white);
    
}
#flare {
    border-radius: 50%;
    width: 100px;
}


hr {
    grid-row: 2;
}

article h3 {
    font-size: 25px;
}

@media screen and (max-width: 750px) {
    html {
        height: 101%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    p {
        font-size: 15px;
        
    }
    header h1 {
        font-size: 40px;
    }
    nav p {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    
    aside {
        height: 70%;
        width: 75%;
        margin-right: 0px;
        padding-right: 0px;
    }

    article {
        margin-right: 20px;
        grid-template-rows: 1fr 1fr 5rem;

    }


    #Instagram {
        margin-top: 1px;
        margin-left: 0px;
    ;
    }

    #Flare {
        margin-top: 5px;
        grid-row: 2;
        grid-column: 1;
        margin-left: 0px;
    }


    .card {
        height: 90%;
        width: 50%;
    }

    .card h3 {
        font-size: 20px;
    }

}