html {
    height: 100%;
    background-color: lightblue;
}

body {
    display: grid;
    grid-template-rows: 2.5rem 2.5rem 1fr;
    grid-template-columns: 15rem 1fr;
    height: 100%;
    gap: 1rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

header {
    grid-row: 1;
    grid-column: 1/end;
    text-align: center;
    color: slateblue;
}

nav {
    grid-row: 2;
    grid-column: 1/end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: #fee7aa;
    border-radius: 10px;
}

aside {
    grid-row: 3;
    grid-column: 1;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #fee7aa;
    color: slategrey;
    text-align: center;
}
article {
    grid-column: 2/end;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fee7aa;
    display: grid;
    grid-template-rows: 1fr 3px 1fr;
    gap: 1rem 1rem;
    color: slategrey;
}

/* Header */
header h1 {
    font-size: 50px;
    margin: 0;
}

/* Navigation */
nav p {
    margin: 0;
    font-size: 2rem;
}


nav a {
    color: slateblue;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    border: 1px solid black;
    border-radius: 10px;

}


/* Aside */
aside h2 {
    text-align: center;
    margin-bottom: 5px;
}

aside h3 {
    text-align: center;
}

aside p {
    text-align: center;
}
aside hr {
    margin-top: 1px;
    width: 85%;
}

#button-hr {
    margin-top: 30px;
    width: 60%;
    margin-bottom: 0;
}

aside button {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgreen;
}
/* Article */
#Instagram {
    grid-column: 1;
    text-align: center;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid white;
    border-radius: 15px;
}

#Instagram:hover {
    background-color: lightgray;
}

#Flare {
    grid-column: 2;
    text-align: center;
    margin-top: 1rem;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border: 3px solid white;
    width: 50%;
    border-radius: 15px;
}

#Flare:hover {
    background-color: lightgray;
    
}
#flare {
    border-radius: 20px;
}


hr {
    grid-row: 2;
}

article h3 {
    font-size: 25px;
}

