html {
    height: 100%;
    background-color: lightblue;
}

body {
    display: grid;
    height: 100%;
    grid-template-rows: 2.5rem 2.5rem 1fr;
    gap: 1rem 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

header {
    grid-row: 1;
    text-align: center;
}

nav {
    grid-row: 2;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #fee7aa;
}

article {
    grid-row: 3;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fee7aa;
    color: slategrey;
}

nav a {
    text-decoration: none;
    color: slateblue;
}

nav p {
    margin: 0;
}

nav a:hover {
    color: blue;
    border: 1px solid black;
    border-radius: 10px;
}



header h1 {
    margin: 0;
    color: slateblue;
    font-size: 50px;
}

article h3 {
    margin: 5px;
    text-align: center;
}

article h5 {
    margin-top: 5px;
    text-align: center;
}
article hr {
    margin-top: 5px;
    width: 50%;
}

#events-line {
    width: 75%;
}

li {
    font-size: 20px;
    margin-left: 40%;
}

li p {
    margin: 0;
}

#TBD {
    text-align: center;
}
