html {
    height: 100%;
    background-color: lightblue;
    background-size: 100% 100%;
    background-image: url(images/sjYntq.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;

}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 2.5rem 2.5rem 1fr;
    gap: 1rem 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
 /* Header */
header {
    grid-row: 1;
    text-align: center;
}

header h1 {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 50px;
    color: white;
}

/* Navigation */
nav {
    grid-row: 2;
    border: 3px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav p {
    margin: 0;
}

nav a:hover {
    color: blue;
    text-shadow: 2px 2px 8px rgb(131, 127, 127);

}

/* Article */

article {
    grid-row: 3;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template: 4rem 3rem 20rem/ 1fr 1fr;
    min-height: 100%;
    gap: 1rem 1rem;
}

.card {
    border: 3px solid white;
    border-radius: 15px;
}

/* Events Header card */

#events-header {
    grid-column: 1/end;
    grid-row: 1;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#events-header h3 {
    margin-top: 10px;
    margin-bottom: auto;
    text-align: center;
    justify-content: center;
}

/* Recent Events card */

#recent-events {
    grid-column: 1;
    grid-row: 2;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin-left: 20%;
    margin-right: auto;

}

#recent-events h3 {
    margin-top: 1px;
    margin-bottom: auto;
    text-align: center;
}

/* Upcoming Events card */

#upcoming-events {
    grid-column: 2;
    grid-row: 2;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: 20%;
}

#upcoming-events h3 {
    margin-top: 1px;
    margin-bottom: auto;
    text-align: center;
}

/* December Meeting card */

#december-meeting {
    grid-column: 1;
    grid-row: 3;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 20%;
    margin-right: auto;
}

#december-meeting h3 {
    margin-top: 3px;
    margin-bottom: auto;
    text-align: center;
}

#december-meeting li {
    font-size: 55%;
}

#december-meeting img {
    border-radius: 15px;
    margin-left: 35%;
    margin-right: 35%;
}

@media screen and (max-width: 750px) {
    html {
        height: 101%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        overflow-y: hidden;
    }
    li p {
        font-size: 5px;
        
    }

    #recent-events {
        width: 80%;
    }

    #upcoming-events {
        width: 80%;
    }

    #december-meeting {
        overflow-y:scroll;
        padding-bottom: none;
        height: 50%;
        width: 80%;
    }
    header h1 {
        font-size: 40px;
    }
    nav p {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    
    }
    


    .card a {
        display: none;
    }
    
    body {
        padding-bottom: 0;
    }


}