html {
    height: 100%;
    background-color: lightblue;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 2.5rem 2.5rem 1fr;
    gap: 1rem 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 20px;
}

/* Header */

header {
    grid-row: 1;
    text-align: center;
    color: slateblue;
    
}

header h1 {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 50px;
}

/* Navigation */
nav {
    grid-row: 2;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #fee7aa;
}

nav p {
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
    margin: 0;
}

nav a {
    color: #5068c7;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    text-shadow: 2px 2px 8px rgb(131, 127, 127);

}

/* Article */
article {
    grid-row: 3 / end;
    color: slategrey;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    min-height: 100%;
    gap: 1rem 1rem;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    background-color:#fee7aa;


}

.card:hover {
    border: 1px solid white;
    color: cornsilk;
    background-image: linear-gradient(to bottom right, blue, lightblue);
}

/* About Card */
#about {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    text-align: center;

}

#about h4 {
    text-align: center;
    margin-bottom: 10px;
}

#about hr {
    width: 60%;
}

#about img {
    border-radius: 50%;
}


/* Announcements Card */

#announcements {
    grid-row: 1;
    grid-column: 2;
    margin-left: auto;
    margin-right: none;
    width: 100%;

}

#announcements h4 {
    text-align: center;
    margin-bottom: 10px;
}

#announcements hr {
    width: 60%
}

